
body {
  margin: 0;
  padding: 0;
  background-color: #232424;
  font-family: 'Sancreek', 'Dancing Script';
  color: #7907AA;
  box-sizing: border-box;
}



input::placeholder,
textarea::placeholder {
  font-family: 'Sancreek', 'Dancing Script';
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #7907AA;
  transition: .5s ease-in-out;
  font-size: 1.3em;
  cursor: pointer;
  font-family: 'Sancreek', 'Dancing Script';
}

a:hover,
nav button:hover {
  background-color: #7907AA;
  color: #232424;
}

/* Form styles */
form {
  max-width: 40%;
  margin: 0 auto;
  padding-bottom: 5rem;
}


label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

label span {
  margin-bottom: .3em;
  font-size: 1.4em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  font-family: 'Sancreek';
  font-size: 1em;
  color: #aaa;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #7907AA;
  border-radius: 5px;
  padding: .8em 0;
  background-color: transparent;
}

.btn {
  background-color: #232424;
  color: #7907AA;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  width: 125px;
  margin-top: 1em;
  font-weight: bold;
  border: 1px solid #7907AA;
  padding: 10px 15px;
  font-size: 1em;
}

.btn:hover {
  background-color: #7907AA;
  color: #232424;
}

.container .error {
  color: #c81a1a;
  background-color: transparent;
  padding: 8px;
  margin-top: 10px;
  font-size: 20px;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 7px 30px;
}

.btn:hover {
  background-color: #7907AA;
  color: #000;
}

.btn.btn-outline:hover {
  background-color: #000;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: #aaa;
}